:root {
  --field-input-radius: 4px;
  --field-input-height: 30px;
  --field-input-paddnigs: 10px;
  --field-input-border-focus: rgba(106,90,205,.4);
  --field-input-border: 1px solid var(--color-gray);
}

.field-input {
  width: 100%;
  padding-left: var(--field-input-paddnigs);
  padding-right: var(--field-input-paddnigs);

  line-height: var(--field-input-height);

  outline: none;
  border: var(--field-input-border);
  border-radius: var(--field-input-radius);

  transition: all .2s;
}

.field-input:focus { border-color: var(--field-input-border-focus); }