@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --font-family: 'Roboto', sans-serif;

  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-large: 22px;

  --font-text: 400 16px/1.5 var(--font-family);
  --font-brand: 100 10vmin/1 var(--font-family);
  --font-title: 25px/1.5 var(--font-family);

  --color-text: var(--color-black);
  --color-text-link: var(--color-primary);
  --color-text-inverse: var(--color-white);
}

h1 {
  text-align: center;
  font: var(--font-brand);
  color: var(--color-text-link);
}

h2 { font: var(--font-title); }
h3 { font-size: var(--font-size-large); }

a {
  text-decoration: none;
  color: var(--color-text-link);
}

a:hover { color: var(--color-primary-light); }