.card-user {
  width: 100%;
  display: flex;
  max-width: 320px;
  align-items: center;
  flex-flow: column nowrap;
  
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.card-cover { 
  min-width: 100%;
  height: calc(100vh - 150px)
}

@media screen and (min-width: 320px) {
  .card-cover {
    width: 100%;
    height: auto;
  }
}

.card-meta { 
  height: 120px;
  padding: 30px 10px; 
}

.card-button {
  width: 100%;
  line-height: 26px;
  box-shadow: none;
}